*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #333;
    display: flex;
    justify-content: end;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: white;
    padding: 20px;
    display: inline-block;
    font-size: 18px;
    font-family: Verdana;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: darkgray;
    color: black;
}

.dropdown-menu{
    position: absolute;
    background-color: aliceblue;
    display: none;
}

.dropdown-menu a{
    display: block;
    color: black;
    border: 1px solid #333;
}

.dropdown:hover .dropdown-menu{
    display: block;
}